html {
    background-color: rgb(203, 203, 203);
}

.navbar-ul {
    list-style-type: none;
    padding: 14px 16px;
    overflow: hidden;
    background-color: rgb(4, 0, 65);
}

li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}


.navbar-list {
    padding: 14px;
    color: white;
    text-decoration: none;
    float: left;
    display: inline;
}

.navbar-list a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar-list-active {
    padding: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(41, 0, 153);
}

.navbar-judul {
    display:list-item;
    text-align: center;
    padding: 17px 100px;
    background-color: rgb(41, 0, 153);
}

.center {
    text-align: center;
    font-size: 20px;
}

.desk {
    text-align: center;
    font-size: 20px;
    text-justify: auto;
}

  .audio-container {
    text-align: center;
  }

  audio {
    width: 300px;
    margin-bottom: 20px;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: #686868;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #2980b9;
  }